body {
    margin-top: 100px;
}

.card .card-header {
    background: none;    
    border-bottom: none;
}

.btn-icon {
    padding: 1px 7px;
    border-radius: 100px;
}

a {
    color: #dc3545;
}

    a:hover {
        color: #dc3545;
        text-decoration: none;
    }
